ssh/known_hosts*
.venv
**/.code/
**/.vscode/
**/__pycache__/ 
nvim/plugin
zsh/plugins/zsh-autopair  
zsh/plugins/zsh-autosuggestions  
zsh/plugins/zsh-syntax-highlighting
zsh/oh-my-zsh
zsh/.zcompdump*
zsh/.dir_colors.old
zsh/.zsh_sessions
zsh/.zsh_history
lazy-lock.json
lazyvim.json
